/* Start Var */
:root {
  --main-color: #f3f4f8;
  --sec-color: #5e5e60;
  --text-color-white: #eeeeee;
  --text-color-black: #191919;
  --image-color: #19191952;
}

/* End Var */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start titel */
.titel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titel h3 {
  font-weight: bold;
  font-size: 20px;
  color: var(--sec-color);
}

.titel .arrow i {
  color: var(--sec-color);
  background-color: white;
  padding: 10px;
  border-radius: 100px;
}

.titel .arrowLeft:hover,
.titel .arrowRight:hover {
  background-color: var(--sec-color);
  color: var(--text-color-white);
}

/* End titel */
/* End Global Rules */
/* Start showSection */
.showSection {
  position: relative;
  overflow: hidden;
  height: 600px;
}

.showSection .container i {
  position: absolute;
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 100px;
}

.showSection .container #arrowLeftShowSection {
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.showSection .container #arrowRightShowSection {
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.showSection .container #arrowLeftShowSection:hover,
.showSection .container #arrowRightShowSection:hover {
  background-color: var(--sec-color);
  color: var(--text-color-white);
}

.showSection .container .posts {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}

.showSection .container .posts #img1,
.showSection .container .posts #img2,
.showSection .container .posts #img3 {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  position: absolute;
}

.showSection .container .posts #img1 {
  transform: translate(-50%, 50%);
  top: -50%;
  left: 50%;
}

.showSection .container .posts #img2 {
  transform: translate(-23%, 50%);
  top: -50%;
  left: -80%;
}

.showSection .container .posts #img3 {
  transform: translate(23%, 50%);
  top: -50%;
  right: -80%;
}

.showSection .container .posts img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.showSection .container .posts::after {
  content: "";
  background-color: var(--image-color);
  width: 100%;
  height: 500px;
  position: absolute;
  border-radius: 20px;
  transform: translate(-50%, 50%);
  top: -50%;
  left: 50%;
}

.showSection .container .info {
  display: none;
  z-index: 10;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 20%;
  /* transform: translateY(-50%); */
  color: var(--text-color-white);
}

.showSection .container .info h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 200;
}

.showSection .container .info p {
  margin-bottom: 50px;
  font-weight: 100;
}

.showSection .container .info a {
  text-decoration: none;
  font-weight: bolder;
  padding: 20px 50px;
  color: var(--text-color-black);
  background-color: var(--main-color);
}

.showSection .container .info a:hover {
  background-color: var(--sec-color);
  color: var(--main-color);
}

/* End showSection */
/* Start Products */
.products {
  position: relative;
  margin: 20px 0;
}

.products .container {
  height: 450px;
  overflow: hidden;
  position: relative;
}

.products .container .posts {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  position: absolute;
  left: 0;
}

.products .container .posts a {
  text-decoration: none;
  text-align: center;
  color: var(--sec-color);
}

.products .container .posts .post {
  width: 250px;
  height: 400px;
  max-height: 400px;
  position: relative;
  text-align: center;
  background-color: white;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.products .container .posts .post:hover img {
  filter: grayscale();
}

.products .container .posts .post img {
  width: 200px;
  max-height: 130px;
}

.products .container .posts .post h3 {
  max-height: 40px;
  overflow: hidden;
}

.products .container .posts .post p {
  height: 50px;
  max-height: 60px;
  overflow: hidden;
  font-size: 12px;
}

.products .container .posts .post .pric {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .container .posts .post .pric .rate .fas {
  color: yellow;
}

.products .container .posts .post .pric .rate .far {
  color: var(--sec-color);
}

/* End Products */
/* Start Deals of the day  */
.deals {
  background-image: url(../Image/spac.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.deals .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.deals .container .boxPost {
  width: 80%;
  height: 350px;
  position: relative;
  overflow: hidden;
  padding-right: 50px;
}

.deals .container .posts {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.deals .container .posts a {
  text-decoration: none;
  text-align: center;
  color: var(--sec-color);
}

.deals .container .posts .post {
  width: 250px;
  height: 350px;
  max-height: 400px;
  position: relative;
  text-align: center;
  background-color: white;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.deals .container .posts .post img {
  width: 200px;
  max-height: 130px;
}

.deals .container .posts .post:hover img {
  filter: grayscale();
}

.deals .container .posts .post h3 {
  max-height: 40px;
  overflow: hidden;
}

.deals .container .posts .post p {
  height: 50px;
  max-height: 60px;
  overflow: hidden;
  font-size: 12px;
}

.deals .container .posts .post .pric {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deals .container .posts .post .pric .rate .fas {
  color: yellow;
}

.deals .container .posts .post .pric .rate .far {
  color: var(--sec-color);
}

.deals .container .arrowLeft,
.deals .container .arrowRight {
  position: absolute;
  background-color: var(--main-color);
  color: var(--sec-color);
  padding: 20px;
  border-radius: 100px;
}

.deals .container .arrowLeft {
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.deals .container .arrowRight {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.deals .arrowLeft:hover,
.deals .arrowRight:hover {
  background-color: var(--sec-color);
  color: var(--text-color-white);
}

.deals .container .info {
  width: 200px;
  text-align: center;
  color: var(--text-color-white);
}

.deals .container .info h1 {
  font-size: 40px;
}

.deals .container .info p {
  font-size: 20px;
}

/* End Deals of the day  */
/* Start Ads */
.ads {
  position: relative;
  margin: 20px 0;
}

.ads .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.ads .container .box {
  height: 200px;
  overflow: hidden;
}

.ads .container .box img {
  width: 400px;
  background-color: red;
}

.ads .container .box {
  position: relative;
}

.ads .container .box::after {
  content: "";
  background-color: #1919198e;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.ads .container .info {
  z-index: 10;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: var(--text-color-white);
}

.ads .container .info h1 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 200;
}

.ads .container .info p {
  margin: 0;
  margin-bottom: 25px;
  font-size: 10px;
  font-weight: 100;
}

.ads .container .info a {
  text-decoration: none;
  font-weight: bolder;
  padding: 10px 30px;
  font-size: 10px;
  color: var(--text-color-black);
  background-color: var(--main-color);
}

.ads .container .info a:hover {
  color: var(--text-color-white);
  background-color: var(--sec-color);
}

/* End Ads */
/* Start Footer */
.footer {
  position: relative;
  margin-top: 20px;
  padding: 20px 0;
  background-color: white;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;
  color: var(--sec-color);
}

.footer .container .box h1 {
  font-size: 40px;
  font-weight: 900;
}

.footer .container .box h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-black);
}

.footer .container .box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .container .box ul li {
  margin-bottom: 5px;
}

.footer .container .box ul li a {
  text-decoration: none;
  color: var(--text-color-black);
  color: var(--sec-color);
}

.footer .container .box .mail {
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
}

.footer .container .box #submit {
  background-color: var(--sec-color);
  color: var(--main-color);
  border: none;
  padding: 10px 20px;
}

.footer .container .box #email {
  border: none;
  background-color: white;
  padding-left: 20px;
}

.footerBar {
  margin: 10px 0;
  text-align: center;
  color: var(--sec-color);
  font-size: 15px;
  font-weight: 600;
}

/* End Footer */