/* Start Var */
:root {
    --main-color: #f3f4f8;
    --sec-color: #5e5e60;
    --text-color-white: #eeeeee;
    --text-color-black: #191919;
    --image-color: #19191952;
  }
  
  /* End Var */
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--main-color);
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  /* Start titel */
  .titel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .titel h3 {
    font-weight: bold;
    font-size: 20px;
    color: var(--sec-color);
  }
  
  .titel .arrow i {
    color: var(--sec-color);
    background-color: white;
    padding: 10px;
    border-radius: 100px;
  }
  
  .titel .arrowLeft:hover,
  .titel .arrowRight:hover {
    background-color: var(--sec-color);
    color: var(--text-color-white);
  }
  
  /* End titel */
  /* End Global Rules */
  /* Start Menu */
  .menu {
    grid-area: menu;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: var(--main-color);
    color: var(--sec-color);
  }
  
  .menu .container>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
  }
  
  .menu .container ul li {
    margin-right: 10px;
  }
  
  
  @media (max-width: 767px) {
    .menu .container ul li {
      margin: 5px;
    }
  }
  
  .menu .container ul li h3 {
    margin: 0;
  }
  
  .menu .container ul li a {
    text-decoration: none;
    color: var(--sec-color);
  }
  
  .menu .container a:hover {
    color: var(--text-color-black);
  }
  
  
  .menu .container .category .lines .line {
    width: 15px;
    height: 1px;
    background-color: var(--sec-color);
    margin: 5px 0;
  }
  
  .menu .container .box_category {
    position: absolute;
    width: 80%;
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    top: 70px;
    z-index: 100;
  }
  
  .menu .container .category .box_category .arc {
    width: 20px;
    height: 20px;
    border-color: transparent transparent white transparent;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -20px;
    left: 10px;
  }
  
  .menu .container .category .box_category a {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  /* _______________________________________________ */
  
  .menu .container .box_category .bigCategory ul {
    display: inline-flex;
    list-style-type: none;
    flex-direction: column-reverse;
    padding: 10px;
    height: 100%;
    justify-content: space-between;
  }
  
  .menu .container .box_category .bigCategory ul li {
    margin-bottom: 10px;
  }
  
  .menu .container .box_category .categorySmall {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-left: 1%;
    border-left: #5e5e60 2px solid;
  }
  
  .menu .container .box_category .bigCategory ul li:hover a{
    color: #191919;
  }
  
  
  /* _______________________________________________ */
  .menu .container li:hover .box_category {
    display: flex;
  }
  
  .menu .container .search {
    position: relative;
    width: 50%;
    background-color: white;
    overflow: hidden;
    margin: 0 20px;
    padding: 0 10px;
  }
  
  .menu .container .search_input {
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 15px;
  }
  
  .menu .container .search i {
    position: absolute;
    right: 0;
    top: 25%;
    margin-right: 10px;
  }
  
  .menu .container ul li .box {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    top: 150%;
    left: -70%;
    z-index: 10;
    border-radius: 5px;
    display: none;
  }
  
  .menu .container ul li .box .arc {
    width: 20px;
    height: 20px;
    border-color: transparent transparent white transparent;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -30%;
    left: 10%;
  }
  
  .menu .container ul li:hover .box {
    display: block;
  }
  
  /* End Menu */