/* Start Var */
:root{
    --main-color: #f3f4f8;
    --sec-color: #5e5e60;
    --text-color-white: #eeeeee;
    --text-color-black: #191919;
    --image-color: #19191952;
}
/* End Var */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--main-color);
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

/* Start titel */
.titel{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titel h3{
  font-weight: bold;  
  font-size: 20px;
  color: var(--sec-color);
}

.titel .arrow i{
  color: var(--sec-color);
  background-color: white;
  padding: 10px;
  border-radius: 100px;
}

.titel .arrowLeft:hover,
.titel .arrowRight:hover{
  background-color: var(--sec-color);
  color: var(--text-color-white);
}
/* End titel */
/* End Global Rules */
/* Start Prodect */
.prodect{
  position: relative;
}

.prodect .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.prodect .container .img{
  position: relative;
  background-color: white;
  padding: 30px;
}

.prodect .container .img img{
  display: block;
  width: 300px;
  margin: auto;
}

.prodect .container .prodectInfo{
  grid-column: 2/4;
}

.prodect .container .prodectInfo .info{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 20px;
}

.prodect .container .prodectInfo .info .prodectName{
  grid-column: 1/3;
}

.prodect .container .prodectInfo .info .pric{
  background-color: var(--sec-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
  color: white;
}

.prodect .container .prodectInfo .info .pric a{
  text-decoration: none;
  padding: 20px 30px;
  background-color: var(--main-color);
  color: var(--sec-color);
  font-weight: bold;
}

.prodect .container .prodectInfo .info .pric a:hover{
  color: var(--main-color);
  background-color: var(--sec-color);
}

.prodect .container .style{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.prodect .container .style a{
  width: 50px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--sec-color);
  color: white;
  margin: 0;
}

.prodect .container .style a:hover{
  color: var(--sec-color);
  background-color: var(--text-color-white);
}

.prodect .container .style .chek{
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: var(--sec-color);
  margin: 0;
}

.prodect .container .style .chek:hover{
  color: white;
  background-color: var(--sec-color);
}
/* End Prodect */
/* Start Reviews */
.reviews{
  position: relative;
  text-align: center;
}

.reviews .container .comment{
  display: none;
}

.reviews .container .comment ul{
  display: block;
  margin: auto;
}

.reviews .container .comment li{
  display: flex;
  justify-content: right;
}

.reviews .container .comment .rate{
  display: block;
  margin: auto;
  justify-content: space-between;
}

.reviews .container .comment textarea{
  width: 100%;
  height: 200px;
  resize: none;
  margin: 30px 0;
  padding: 10px;
}

.reviews .container #btn{
  background-color: white;
  border: 0;
  outline: none;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.reviews .container #btn:hover{
  background-color: var(--sec-color);
  color: var(--text-color-white);
}

.reviews .container .boxs{
  height: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  overflow: hidden;
}

.reviews .container a{
  text-decoration: none;
  color: var(--sec-color);
}

.reviews .container .boxs .box{
  background-color: var(--text-color-white);
  padding: 10px;
}

.reviews .container .boxs .box .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
}

.reviews .container .boxs .box .info img{
  width: 30px;
  border-radius: 50px;
}

.reviews .container .boxs .box .info h3{
  margin-right: 30px;
}

.reviews .container h2{
  width: fit-content;
  display: block;
  margin: auto;
  color: var(--sec-color);
  cursor: pointer;
}

.reviews .container h2:hover{
  color: var(--text-color-black);
}

/* End Reviews */
/* Start Products */
.products{
  position: relative;
  margin: 20px 0;
}

.products .container {
  height: 450px;
  overflow: hidden;
  position: relative;
}

.products .container .posts{
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  position: absolute;
  left: 0;
}

.products .container .posts a{
  text-decoration: none;
  text-align: center;
  color: var(--sec-color);
}

.products .container .posts .post{
  width: 250px;
  height: 400px;
  max-height: 400px;
  position: relative;
  text-align: center;
  background-color: white;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.products .container .posts .post:hover img{
  filter: grayscale();
}

.products .container .posts .post img{
  width: 200px;
  max-height: 130px;
}

.products .container .posts .post h3{
  height: 40px;
  max-height: 40px;
  overflow: hidden;
}

.products .container .posts .post p{
  height: 50px;
  max-height: 60px;
  overflow: hidden;
}

.products .container .posts .post .pric{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .container .posts .post .pric .rate .fas{
  color: yellow;
}

.products .container .posts .post .pric .rate .far{
  color: var(--sec-color);
}
/* End Products */
/* Start Footer */
.footer{
  position: relative;
  margin-top: 20px;
  padding: 20px 0;
  background-color: white;
}

.footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  color: var(--sec-color);
}

.footer .container .box h1{
  font-size: 40px;
  font-weight: 900;
}

.footer .container .box h3{
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-black);
}

.footer .container .box ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .container .box ul li{
  margin-bottom: 5px;
}

.footer .container .box ul li a{
  text-decoration: none;
  color: var(--text-color-black);
  color: var(--sec-color);
}

.footer .container .box .mail{
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
}

.footer .container .box #submit{
  background-color: var(--sec-color);
  color: var(--main-color);
  border: none;
  padding: 10px 20px;
}

.footer .container .box #email{
  border: none;
  background-color: white;
  padding-left: 20px;
}

.footerBar{
  margin: 10px 0;
  text-align: center;
  color: var(--sec-color);
  font-size: 15px;
  font-weight: 600;
}
/* End Footer */